{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <hr>
    <div class="row">
        <form method="post" class="col-4">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-floating mb-3">
                {% render_field field class="form-control" placeholder="ahahahah"%}
                {{ field.label_tag }}
            </div>

            {% if field.errors %}
            <small style="color: grey">{{field.help_text}}</small>
            {% endif %}
            {% endfor %}
            <input class="btn btn-lg btn-outline-primary" type="submit" value="Login">
        </form>
        <div class="col-8 text-center">
            <h2>We're so happy that you have chosen us</h2>
            <h3 class="text-muted">Bank PL NTUU "KPI"</h3>
        </div>
    </div>

</div>

{% endblock %}